.user-details {
    display: flex;
    justify-content: space-between;
}

.user-details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.top-bar {
    justify-content: space-between;
}

.repo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #ccc;
}

button svg {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}